* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #c728aac7;
    color: black;
    font-weight: bold;
}
.buscar{
    background-color: #ffffff;
    border-color: #c728aac7;
    color: #080808;
}
.buscar:hover{
    background-color: #c728aac7;
    border-color: #ffffff;
    color: #080808;
}

main{
    margin: 1rem;
    padding: 2rem;

}

.titulo-principal{
    color: #c728aac7;
    text-align: center;
    font-size: 3em;
    margin-bottom: 2rem;
}
.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.producto-imagen{
    max-width: 100%;
    width: 300px;
    margin-top: 1.5rem;
}
.producto-titulo{
    background-color: #c728aac7;
    color: #f4f5f7;
    width: 300px;
    padding: .3rem;
}
.producto-precio{
    font-size: 1.5rem;
}
.producto-comprar{
    background-color: #f4f5f7;
    padding: .25rem;
    border-radius: 1rem;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid #f4f5f7;
}
.producto-comprar:hover{
    background-color: #c728aac7;
    color: #f4f5f7;
}

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #cac6c6;
    width: 50%;
    margin-top: 50px;
}

.carrito-header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5rem;
    font-family:sans-serif;
}
.carrito-header-titulo, .total-compra{
    color: #c728aac7;
    font-size: 2rem;
    padding: 2rem;
    
}
.carrito-boton{
    font-size: 1.5rem;
    padding: 2rem;
    cursor: pointer;
    
}
.carritoCompras{
    cursor: pointer;
}
.carrito-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.img-carrito{
    width: 100px;
}
.titulo-carrito{
    font-size: 1rem;
}
.cantidad-carrito{
    background-color: red;
    color: wheat;
    border-radius: 50%;
    font-size: 10px;
    padding: 4px;
    top: 37px;
    right: 31em;
    position: absolute;
    display: none;
}
.delete-producto{
    cursor: pointer;
}
footer {
    background-color: #c728aac7;
}

footer .container-fluid ul {
    list-style: none;
    text-align: center;
}

footer .container-fluid ul li {
    display: block;
    padding: 2px;
}

footer .container-fluid ul li a {
    text-decoration: none;
    color: #080808;
}

footer .container-fluid ul li a:hover {
    font-weight: bold;
    color: black;
}